body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
/*logo styles*/
.logo{
  display: flex;
  cursor: pointer;
  gap:10px;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.background-inner{
  position: absolute;
  width: 300px;
  left: -70px;
  top: -30px;
  height: 110px;
  z-index: 1;
  border-right-width: 1.2px;
  transform: skewX(30deg);
}

div .image{
  z-index: 100;
}
div .logo-text-conteiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  z-index: 100;
  gap: 0px;
}
/*logo text*/
.logo-main-text{
  text-align: start;
  height: 100%;
  width: 100%;
}
.logo-text-1{
  padding: 0px;
  color: rgb(255, 235, 13);
}
.logo-text-2{
  padding: 0px;
  color: rgb(255, 13, 13);
}
.logo-text-3{
  padding: 0px;
  color: rgb(0, 0, 0);
}
.logo-subtext{
  font-size: 8px;
  color: gray;
  padding-left: 1.5px;
  text-align: start;
  width: 100%;
}
/*nav bar styles*/
div .conteiner-nav{
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.nav-bar{
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menu{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.menu-item{
  color: #7f7f7f;
  font-size: 12px;
}
.buttons-auth{
  padding-right: 30px;
}
/*nav bar mobile*/
.drawer-menu{
  background-color: transparent;
  padding: 0px;
  margin: 0px;

}
.mobile-menu{
    display: none;
  }
























.main-image-conteiner{
  max-width: 900px;
  width: 900px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
.div .button-mb{
  width: fit-content;
}
div .hero-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 5px;
  border-radius: 30px;
}
path{
  transition: all ease-in-out 300ms;
}
path:hover{
  fill: blue;
}
.mapa-angola svg{
  width: fit-content;
  height: auto;
}
div .mobile-menu{
    display: none;
  }
 div .logos{
    align-self: flex-start;
    justify-self: flex-start;
  }

@media  (max-width:988px) {
  .navbar-logged-logo-conteiner{
    flex: 1;
  }
  div .navbar-logged-menu-conteiner{
   display: none;
  }
 div .mobile-menu{
    display: flex;
  }
  .mobile-item{
    padding: 0px;
  }
  div .logos{
    align-self: flex-start;
    justify-self: flex-start;
  }
  .Menu{
    display: none;
  }
  div .buttons-auth{
    display: none;
  }
  .mobile-menu{
    display: flex;
    padding: 0px 30px;
  }
  .main-image-conteiner{
  max-width: 900px;
  width: 800px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
 .navbar-logged{
  padding: 10px;
 }
}

@media  (max-width:826px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 700px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
 
 }
@media  (max-width:776px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 600px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}

 }
  @media  (max-width:709px){
    div .button-mb{
      display: flex;
      justify-content: center;
      width: 100%;
}
  }
 @media  (max-width:676px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 500px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
div .portal-conteiner{
  padding: 10px;
}
div .navbar-logged-welcome-text{
  font-size: 17px;
  line-height: .5;
}
div .navbar-logged-welcome-subtext{
  font-size: 10px;
}
div .navbar-logged-other
 {   display: none;
 }
 .navbar-logged{
  padding: 10px;
 }
 }
  @media  (max-width:576px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 400px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}

 }
   @media  (max-width:476px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 370px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
 }
   @media  (max-width:376px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 200px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
 }

 .link-terms{
  color: #cbcbcb;
  font-size: 12px;
 }

 /* scroll */
 ::-webkit-scrollbar{
   width: 5px;
 }
 ::-webkit-scrollbar-thumb{
  background: #de4848;
 }
 /*navbar logged*/
 /* nav bar logged styles  */
.bwisi-layout-conteiner{
  width: 100%;
  height: 100vh;
}
.navbar-logged{
  width:100%;
  padding: 4px 30px;
}
.navbar-logged-conteiner-top{
  width: 100%;
  max-width: 1300px;
  display: flex;
  padding: 10px;
  padding-top: 20px;
}

.navbar-logged-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: #f6f6f6;
  transition: all ease-in-out 200ms;
}
.navbar-logged-button:hover{
  background-color: #f4f4f4;
}
.navbar-logged-menu-conteiner{
  flex: 1;
  justify-content: center;
  padding-left: 40px;
}
.navbar-logged-menu-items{
  display: flex;
  padding: 4px 20px;
  background-color: #FAFAFA;
  border-radius: 50px;  
  gap: 2px;
  max-width: 551.94px;
  overflow-x: auto;
}
.navbar-logged-menu-items::-webkit-scrollbar{
  display: none;
}

.navbar-logged-menu-items p{
  font-size: 10px;
  margin: 0px 10px;
}
.navbar-logged-menu-item{
  cursor: pointer;
  padding: 10px 15px;
  transition: all ease-in-out 200ms;
  color: #4a4a4a;
}
.navbar-logged-menu-item-active , .navbar-logged-menu-item:hover{
  cursor: pointer;
  padding: 10px 17px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 1px 1px 2px rgba(188, 188, 188, 0.669);
  color: #4a4a4a;
}

div .navbar-logged-user-conteiner{
  display: flex;
  gap: 10px;
}
.space{
  width: 10px;
}
/* navbar bottom part*/
.navbar-logged-conteiner-bottom{
  width: 100%;
  justify-content: start;
  align-items: start;
  max-width: 1300px;
  padding: 10px;
}

.navbar-logged-other{
  flex:1;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
}

.navbar-logged-welcome-subtext{
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  line-height: 1.2;
}
.navbar-logged-welcome-subtext , .navbar-logged-welcome-text{
  text-align: start;
  display: flex;
  align-self: flex-start;
}
.navbar-logged-welcome-text{
  font-size: 25px;
  line-height: 1.0;
  color: #595959;
}
.navbar-logged-welcome{
  flex: 1;
  gap: 1px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.navbar-logged-other-text{
  color: #777676;
  font-size: 12px;
  width: fit-content;
}
.navbar-logged-other-data-conteiner{
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar-logged-data-input{
  background-color: #F9F9F9;
  border-radius: 50px;
  padding: 20px 10px;
  width: fit-content;
  color: #424242;
}
/*loading animation*/

.animate{
  animation: loading 2s ease-in-out infinite alternate;
}

@keyframes loading {
  0%{
    opacity: 0;
    scale: .2;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}