body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
/*logo styles*/
.logo{
  display: flex;
  cursor: pointer;
  gap:10px;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.background-inner{
  position: absolute;
  width: 300px;
  left: -70px;
  top: -30px;
  height: 110px;
  z-index: 1;
  border-right-width: 1.2px;
  transform: skewX(30deg);
}

div .image{
  z-index: 100;
}
div .logo-text-conteiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  z-index: 100;
  gap: 0px;
}
/*logo text*/
.logo-main-text{
  text-align: start;
  height: 100%;
  width: 100%;
}
.logo-text-1{
  padding: 0px;
  color: rgb(255, 235, 13);
}
.logo-text-2{
  padding: 0px;
  color: rgb(255, 13, 13);
}
.logo-text-3{
  padding: 0px;
  color: rgb(0, 0, 0);
}
.logo-subtext{
  font-size: 8px;
  color: gray;
  padding-left: 1.5px;
  text-align: start;
  width: 100%;
}
/*nav bar styles*/
div .conteiner-nav{
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.nav-bar{
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menu{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.menu-item{
  color: #7f7f7f;
  font-size: 12px;
}
.buttons-auth{
  padding-right: 30px;
}
/*nav bar mobile*/
.drawer-menu{
  background-color: transparent;
  padding: 0px;
  margin: 0px;

}
.mobile-menu{
    display: none;
  }
























.main-image-conteiner{
  max-width: 900px;
  width: 900px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
.div .button-mb{
  width: fit-content;
}
div .hero-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 5px;
  border-radius: 30px;
}
path{
  transition: all ease-in-out 300ms;
}
path:hover{
  fill: blue;
}
.mapa-angola svg{
  width: fit-content;
  height: auto;
}
@media  (max-width:988px) {
  .Menu{
    display: none;
  }
  div .buttons-auth{
    display: none;
  }
  .mobile-menu{
    display: flex;
    padding: 0px 30px;
  }
  .main-image-conteiner{
  max-width: 900px;
  width: 800px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
}

@media  (max-width:826px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 700px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
 }
@media  (max-width:776px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 600px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}

 }
  @media  (max-width:709px){
    div .button-mb{
      display: flex;
      justify-content: center;
  width: 100%;
}
  }
 @media  (max-width:676px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 500px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
 }
  @media  (max-width:576px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 400px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}

 }
   @media  (max-width:476px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 370px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
 }
   @media  (max-width:376px) { 
  .main-image-conteiner{
  max-width: 900px;
  width: 200px;
  min-width: none;
  aspect-ratio: 800/569;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
}
 }

 .link-terms{
  color: #cbcbcb;
  font-size: 12px;
 }

 /* scroll */
 ::-webkit-scrollbar{
   width: 5px;
 }
 ::-webkit-scrollbar-thumb{
  background: #de4848;
 }